*.class
*.log

## Directory-based project format:
.idea/

# IntelliJ
/out/
*.iml
/project/
/target/

# Package Files #
*.jar
!gradle-wrapper.jar
*.war
*.ear
*META-INF/

#LaTex
paper.pdf
*.log
*.aux
*.cfg
*.glo
*.idx
*.toc
*.ilg
*.ind
*.out
*.lof
*.lot
*.bbl
*.blg
*.gls
*.cut
*.hd
*.dvi
*.ps
*.thm
*.tgz
*.zip
*.rpi
*~
